* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3em;
    color: #000;
    margin-bottom: 0px;
}

#chronometer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-passed {
    font-size: 10em;
    margin-bottom: 20px;
    font-family: "VT323";
}

#minutes, #seconds {
    font-family: "VT323";
}

#milisseconds {
    font-family: "VT323";
    font-size: 0.3em;
}

#buttons {
    margin-bottom: 40px;
}

button {
    border: none;
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.paused {
    background-color: greenyellow;
    padding: 10px 24px;
}

.started {
    background-color: rgb(255, 77, 0);
}

#reset-button {
    background-color: orange;
}

#reset-button:disabled {
    color: #000;
    background-color: #fff;
    opacity: 0.6;
    cursor:not-allowed
}

#save-time {
    background-color: #fff;
}

#times-saved {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#filters {
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    background-color: rgb(255, 206, 146);
    margin-bottom: 5px;
}

.time {
    font-size: 1.2em;
    margin-bottom: 5px;
}

li::marker {
    font-size: 1.3em;
    color: rgb(165, 72, 5);
}

.times-list-milisseconds {
    font-size: 0.75em;
}

#no-times {
    color: red; 
    margin-top: 20px;
}